body{
    background:linear-gradient(to bottom,skyblue,lightgreen) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.headings{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}
p{
    color: navy;
    font-weight: bolder;
}
.buttons{
    color: gray;
    background:linear-gradient(to bottom,skyblue,lightgreen) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-style: outset;
    border-radius: 10px;
}