body{
    background:linear-gradient(to bottom,skyblue,lightgreen) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 50px;
}
.headings{
    font-weight: bold;
    text-decoration: underline;
    color: black;
    font-size: 30px;
}
p{
    clear: both;
    color: navy;
    font-weight: bolder;
    white-space: pre;
}
.buttons{
    color: gray;
    background:linear-gradient(to bottom,skyblue,lightgreen) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-style: outset;
    border-radius: 10px;
}
.img{
    height: 200px;
    float: left;
}
.back1{
    margin-right: 150px;
}
#titl-ish{
    clear: both;
    color: yellow;
}
.nfimages{
    clear: both;
    height: 200px;
}
.video{
    height: 180px;
    width: 300px;
    margin-left: auto;
    margin-right: 30px;
    position: sticky;
    top: 0px;
}